@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root{
    --main-color: rgb(31, 121, 224);
    --logo-color: rgb(255, 208, 0);
    --font-color: whitesmoke;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    margin: 0;-
    padding: 20px;
}

.container{
    display: grid;
    grid-template-areas: "aside main";
    grid-template-columns: 2fr 4fr;
    height: 75vh;
    grid-gap: 1px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: var(--main-color);
    color: var(--font-color);
    font-weight: bold;
}

aside{
    grid-area: aside;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    grid-area: main;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 30vw;
    margin-top: 37px;
    margin-left: 150px;
}

@media (max-width: 700px) {
    
    .container{
        display: grid;
        grid-template-areas: "aside main";
        grid-template-columns: 1fr 1fr;
    }    

    img{
        width: 60vw;
        margin-top: 100px;
        padding-right: 70px;
    }
    
}